@use 'reset';
@use 'variables' as *;

body, #root {
  // -- Echo Show 5
  width: 960px;
  height: 480px;
  background-color: $bg-color;
  font-family: $font;
  font-size: 16px;

  // -- Echo Show 8/10/Hub
  @media (min-width: 1000px) and (min-height: 600px) {
    width: 1280px;
    height: 800px;
    font-size: 20px;
  }

  // -- Echo Show 15
  @media (min-width: 1500px) {
    width: 1920px;
    height: 1080px;
    font-size: 26px;
  }
}