@use '../../styles/variables' as *;

.homeContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  .contentRow {
    width: 100%;
    height: calc(100% - 10rem);
    display: flex;
    justify-content: center;

    .tutorialContainer {
      height: 100%;
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      p {
        color: $text-color;
      }
    }
  
    .qrCodeContainer {
      height: 100%;
      width: 45%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .qrCode {
        width: 70%;
        height: 80%;
        aspect-ratio: 1 / 1;
      }
    }
  }
}