@use '../../styles/variables' as *;

.notFoundContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: $text-color;

  h1 {
    margin-bottom: 2rem;
  }
}