@use '../../styles/variables' as *;

.notFoundContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  color: $text-color;

  .contentRow {
    width: 90%;
    height: calc(100% - 10rem);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    p {
      font-size: 1.5rem;
    }
  }
}